@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 80px;
    background-color: #f4f4f4;
}
.nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 25px;
}
.nav li {
    position: relative;
    list-style: none;
    margin: 15px 10px;
    align-items: center;
}
.nav li a {
  text-decoration: none; 
  color: black;
  font-weight: bold;
  text-align: center;
  font-style: 'Poppins', sans-serif;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eeeff1;
    padding: 15px 0;
}
header h1 {
    font-size: 20px;
    font-weight: bold;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    padding-left: 20px;
}
header h1 span {
    color: #007f5c;
    text-decoration: none;
}
/* intro-section section */

.intro-section {
  background-image: url("images/Introcover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  position: relative;
}
.intro-section h1 {
    color: #000000;
}
.intro-section h1 span {
    color: #007f5c;
}
.intro-section .into-home {
    position: absolute;
    top: 100px;
    left: 50px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 30px;
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.into-home p{
    font-size: 20px;
    font-weight: 450;
}
.discover-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007f5c;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* main-info section */

.main-info h1 {
    text-align: center;
    margin-top: 40px;
    color: #007f5c;
}
.main-info h2 {
    text-align: center;
    color: #000000;
}
.main-info p {
    text-align: center;
    max-width: 600px;
    margin: 10px auto 30px auto;
    color: #333333;
}
/* club-container section */

.club-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
.club-box:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}
.club-container .club-box {
    border: 1px solid #dddddd;
    border-radius: 8px;
    width: 250px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 2px 5px #dddddd;
}
.club-container .club-box img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* footer section */

footer {
    background-color: #007f5c;
    color: #ffffff;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}